.weathertext {
    background-color: rgb(0, 0, 50);
    color: whitesmoke;
    text-align: center;
}

body {
    background-color: whitesmoke;
}

#cityBtn {
    background-color: rgb(0,0,50);
    color: whitesmoke;
}

#clearBtn {
    background-color: rgb(0,0,50);
    color: whitesmoke;
}